.register-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3C3;
}

.register-card {
  align-items: center;
  justify-content: center;
}

.bottom-link {
  margin-top: 10px;
  color: #333;
  font-size: 14px;
}